[submodule "Front-end Development/Block-12/Day-01/exercise-pokedex-state"]
	path = Front-end Development/Block-12/Day-01/exercise-pokedex-state
	url = git@github.com:rafaelmguimaraes/exercise-pokedex-state.git
[submodule "Front-end Development/Block-13/Day-01/exercise-dog-image"]
	path = Front-end Development/Block-13/Day-01/exercise-dog-image
	url = git@github.com:rafaelmguimaraes/exercise-dog-image.git
