[submodule "Front-end Development/Block-12/Day-01/exercise-pokedex-state"]
	path = Front-end Development/Block-12/Day-01/exercise-pokedex-state
	url = git@github.com:rafaelmguimaraes/exercise-pokedex-state.git
[submodule "Front-end Development/Block-13/Day-01/exercise-dog-image"]
	path = Front-end Development/Block-13/Day-01/exercise-dog-image
	url = git@github.com:rafaelmguimaraes/exercise-dog-image.git
[submodule "Front-end Development/Block-13/Day-02/exercise-router-fixation"]
	path = Front-end Development/Block-13/Day-02/exercise-router-fixation
	url = git@github.com:rafaelmguimaraes/exercise-router-fixation.git
[submodule "Front-end Development/Block-13/Day-02/exercise-pokedex-router"]
	path = Front-end Development/Block-13/Day-02/exercise-pokedex-router
	url = git@github.com:rafaelmguimaraes/exercise-pokedex-router.git
[submodule "Front-end Development/Block-15/Day-01/exercise-todo-list"]
	path = Front-end Development/Block-15/Day-01/exercise-todo-list
	url = git@github.com:rafaelmguimaraes/exercise-todo-list.git
