* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  color: #8A91B4;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: #F6F8FF;
}
